#contalabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family:'Courier New', Courier, monospace;
    color:rgb(103, 22, 22)
}
#contenitore{
    text-align:center;
}
.button{
    padding: 10px 20px;
    font-size: 1.5em;
    color: rgb(63, 33, 91);
    background-color: rgb(211, 175, 230);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}
.button:hover{
    background-color: rgb(229, 255, 0);
}